# Do not submit downloads
downloads/
# Do not submit unpacked/checked-out sources
sources/
# Do not submit GitHub checkouts
MINGW-packages/
MSYS2-keyring
MSYS2-packages/
# Do not submit the installed MSYS2 runtime
msys*/
# Do not publish the IDE & link!
vscode*
# Do not submit probes!
.travis.yml

